# ============================================================
#  Configuración del entorno
#  Copia este archivo como .env y ajusta los valores
# ============================================================

# --- MySQL ---
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=rpm_iot

# --- MQTT (EMQX Cloud) ---
MQTT_SERVER=b1d5a8ad.ala.us-east-1.emqxsl.com
MQTT_PORT=8883
MQTT_USER=RPM
MQTT_PASS=987654321
MQTT_TOPIC_RPM=rpm/datos
MQTT_TOPIC_STATUS=rpm/estado

# --- Server ---
PORT=3000
WS_PORT=3001
